.layout {

  .content {
    position: relative;
    width: calc(100% - #{$navbar-width});
    top: $topbars-height;
    left: $navbar-width;
    overflow: hidden;
  }

}

.page-full-height {
  min-height: $page-height;
}


