.layout {

  .content {
    position: relative;
    width: calc(100% - #{$navbar-width});
    top: $topbars-height;
    left: $navbar-width;
    overflow: hidden;
  }

}

.page-divided-with-second-content-scrolable {
  display: grid;
  grid-template-columns: 1fr 32rem;
  grid-gap: 2rem;
  min-height: $page-height;

  .first-content {
    min-height: $page-height;
  }

  .second-content {
    overflow: auto;
    max-height: $page-height;
  }
}

.page-full-height {
  min-height: $page-height;
}