.page {
  width: 92vw;
  margin: 1.5rem 1.5rem 0;
  overflow: auto;
}



.page-divided-with-second-content-scrolable {
  $second-content-width: 35rem;
  min-height: $page-height;
  width: calc(100% - #{$second-content-width});

  .first-content {
    width: 100%;
  }

  .second-content {
    position: fixed;
    width: $second-content-width;
    right: 0;
    top: $topbars-height;
    height: calc(#{$page-height} + 2rem);
    background-color: $subtopbar-color;
    border-left: .1rem solid $color-border-primary-dark;
    overflow: auto;
  }
}