.panel-right {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $overlay-color;
  z-index: 100;


  .panel-body {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: $color-white;
    border-top: .3rem solid $color-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .panel-header {
      height: 5rem;
    }

    .panel-content {
      flex-grow: 1;
      overflow: auto;
      padding-bottom: 6rem;
    }

    .panel-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 7rem;
      border-top: .1rem solid $color-primary-dark-2;
      padding-right: 4rem;

      button {
        min-width: 10rem;
      }

    }


    .close-panel {
      background-color: $color-dark;
      color: $color-white;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: .2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -.3rem;
      left: -2.5rem;
      cursor: pointer;
    }

  }
}

.panel-right-enter-animation {
  animation: opacity-enter .5s linear;

  .panel-body {
  animation: position-enter .5s linear;
  }

}

.panel-right-leave-animation {
  animation: opacity-leave .5s linear;

  .panel-body {
  animation: position-leave .5s linear;
  }

}


@keyframes opacity-enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes position-enter {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}


@keyframes opacity-leave {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes position-leave {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
