.topbar {
  height: $topbar-height;
  background-color: $topbar-color;
  width: calc(100% - #{$navbar-width});
  position: fixed;
  top: 0;
  left: $navbar-width;
  z-index: 20;
  padding: 1.5rem 2rem;
  color: $font-color-dark;

  .paineis {
    display: flex;
    align-items: center;

    .button-container {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: .4rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;

      &:hover {
        background-color: $color-primary;
      }

      i {
        font-size: 1.6rem;
      }

    }
  }

  .lado-direito {
    display: flex;
    align-items: center;

    .acoes {
      margin-right: 2rem;
    }

    .separador {
      width: .1rem;
      height: 3rem;
      background-color: $color-border-primary-dark;
    }

  .opcoes {
    display: flex;
    align-items: center;

    .click-para-pesquisar {
      margin: 0 2rem;
      border: .1rem solid $color-border-primary-dark;
      border-radius: .5rem;
      padding: .6rem 1rem;
      cursor: pointer;

      i {
        font-size: 1.2rem;
      }

      span {
        font-size: 1.4rem;
      }

    }

    & > i, .user-box {
      cursor: pointer;
    }

    i {
      margin-right: 1.5rem;
    }

  }

  }


}