input[type=file] {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.input-container {
  position: relative;
  label {
    font-size: 1.35rem;
    color: $font-color-dark;
    display: inline-block;
    margin-bottom: .5rem;
  }

  .label-required::after {
    content: "*";
    color: $color-red;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .end-buttons {
    position: absolute;
    right: 1rem;
    top: .5rem;
    display: grid;
    grid-gap: .5rem;
  }

  span {
    display: inline-block;
    margin-top: .5rem;
    color: $font-color-light;
  }

  .input {
    width: 100%;
    outline: none;
    padding: 1.1rem 1rem;
    border: .1rem solid $color-primary-dark-2;
    border-radius: .2rem;
    @include transition;
    box-sizing: border-box;

    &:hover {
      border: .1rem solid $color-blue;
      @include transition;
    }

    &:focus {
      border: .2rem solid $color-blue;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include transition;
    }

    &-rounded {
      border-radius: .6rem;
    }

  }

  &-error {
    .input {
      border: .1rem solid $color-red-dark;

      &:hover, &:focus {
        border: .1rem solid $color-red-dark;
        padding: 1.1rem 1rem;
      }

    }

    .error-detail {
      color: $color-red-dark;
      font-size: 1.2rem!important;
      font-weight: normal!important;
    }

  }

}

.input-pesquisa {
  position: relative;

  .input {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  i {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.4rem;
  }

  .link {
    position: absolute;
    top: 1rem;
    right: 1rem;

    &:hover {
      text-decoration: none;
    }
  }

}

.input-com-radio-container {
  display: grid;
  grid-template-columns: 4rem 1fr;

}

.radio-container {
  margin-top: 1.2rem;
  position: relative;


  @include tooltipRight;


  input[type=radio] {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  label {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: .1rem solid $color-primary-dark-2;
    background-color: $color-white;
    position: relative;
  }

  input[type=radio]:checked + label {
    border: .1rem solid $color-blue-dark;

    &::after {
      position: absolute;
      top: .2rem;
      left: .2rem;
      content: '';
      width: .7rem;
      height: .7rem;
      border-radius: 50%;
      background-color: $color-blue-dark;
    }
  }

}
