
$color-primary: #EBEFF3;
$color-secundary: #F5F7F9;
$color-primary-dark: #dee2e6;
$color-primary-dark-2: #c5c8cc;
$color-dark: #183247;

$color-white: #FFF;
$color-green: #6BB437;
$color-green-light: #F2FFFA;
$color-orange: #FF9E34;
$color-orange-light: #FFF6EF;
$color-red: #FF5959;
$color-blue: #4DA1FF;
$color-blue-light: #E5F2FD;
$color-yellow: #FFD013;
$color-purple: #AE64CE;
$color-purple-light: #f0daf9;

$font-color-light: #6f7c87;
$font-color-dark: #2a343f;

$overlay-color: rgba(#748490, .6);

$color-border-primary: rgba(#c8cccf, .5);
$color-border-primary-dark: rgba(#c8cccf, .8);

$link-color: #2C5CC5;

$ticket-selected-color: #FFFEF7;

$navbar-width: 7rem;
$navbar-color: #284255;
$navbar-logo-color: #02B875;

$topbar-height: 6rem;
$topbar-color: $color-white;

$subtopbar-height: 6rem;
$subtopbar-color: $color-secundary;

$body-color: $color-primary;

$card-border-color: rgba(0, 0, 0, .125);

$footer-height: 20rem;
$footer-color: rgba(0, 0, 0, .7);


$topbars-height: calc(#{$topbar-height} + #{$subtopbar-height});

$page-height: calc(98vh - #{$topbars-height});

