.empresa-page {
  display: flex;
  padding-bottom: 10rem;

  .main-content-empresa-page {

    .foto-container {

      img {
        width: 8rem;
      }

      .inner-foto-container {
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 2rem;

        &::after {
          content: '';
          width: 112%;
          height: 112%;
          border: .2rem solid $color-border-primary;
          position: absolute;
          border-radius: .5rem;
        }

        &-empresa-empty {
          background: linear-gradient(to top, #77D9D1, #abf3ee);
          border-radius: .5rem;

          img {
            width: 4rem;
          }
        }

      }

      .description {
        h1 {
          line-height: .5rem;
        }

        .qtd-contatos {
          font-size: 1.38rem;
          margin: .3rem 0;
        }
      }
    }

    .tab-content {
      margin: 1rem 8rem;
    }

  }

  .second-content-empresa-page {

  }

  &-anotacao {
    overflow: hidden;
    margin-top: 3rem;

    .title-anotacao {
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        margin-bottom: 2rem;
        margin-right: 1rem;
      }
      .input-container {
        flex-grow: 1;
      }

    }

    &-footer {
      margin-top: 2rem;
      justify-content: flex-end!important;
    }

    &-hidden {
      max-height: 7.8rem;
      @include transition-big;
    }

    &-visible {
      max-height: 100rem;
      @include transition-big;
    }

  }

}


.empresas-page {

  .first-content {
    padding-bottom: 10rem;

    table tr .descricao-empresa {
      display: flex;
      align-items: center;

      &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 2rem;

        img {
          width: 3.5rem;
        }

        .inner-foto-container {
          margin-right: 2rem;
          width: 3.5rem;
          height: 3.5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          &-empresa-empty {
            background: linear-gradient(to top, #77D9D1, #abf3ee);
            border-radius: .5rem;

            img {
              width: 2rem;
            }
          }
        }
      }
    }

  }

}