.tickets-page {

  $filter-width: 30rem;
  $top-size: calc(#{$topbar-height} + #{$subtopbar-height});

  .content-ticket-page {
    width: calc(100% - #{$filter-width});
    min-height: calc(98vh - #{$top-size});
  }

  .filters {
    width: $filter-width;
    height: calc(100vh - #{$top-size});
    position: fixed;
    top: $top-size;
    right: 0;
    background-color: $color-primary;
    border-left: .1rem solid $color-border-primary-dark;
    padding: 2rem;
  }


}